<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>DeedMed - Test Order</title>
    <link href="https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500;600&family=Mulish:wght@200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap"
          rel="stylesheet"> <!-- Google Font - Livvic / Rubik / Mulish -->
    <style>
        html, body {
            margin: 0;
            padding: 0;
            font-size: 12px;
            font-family: 'Mulish', sans-serif;
            position: relative;
        }

        .font-mulish {
            font-family: 'Mulish', sans-serif;
        }

        .font-rubik {
            font-family: 'Rubik', sans-serif;
        }

        .font-livvic {
            font-family: 'Livvic', sans-serif;
        }

        .A4-width {
            width: 794px;
            min-height: 1123px;
            margin: 0 auto;
        }

        .text-left {
            text-align: left;
        }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        .mb-15 {
            margin-bottom: 15px !important;
        }

        .dynamic-value {
            color: #677294;
        }

        .meta-line {
            line-height: 1.6;
            font-size: 13px;
            margin-bottom: 20px;
        }

        .meta-line label {
            font-weight: 600;
            font-family: 'Rubik', sans-serif;
            font-size: 18px;
        }

        .meta-line span {
            padding: 0 3px;
        }

        .meta-line.prime label {
            display: block;
        }

        .meta-line.prime span {
            padding: 0;
        }

        .meta-line.prime.jurisdiction {
            margin-top: 40px;
        }

        .meta-line.prime.jurisdiction .value {
            color: #333333;
            font-weight: 400;
            font-family: 'Rubik';
        }


        .document-header {
            position: relative;
        }

        .document-header .primary-element .element-background {
            height: auto;
            width: 100%;
            position: relative;
            z-index: 100;
        }

        .document-header .primary-element .element-background svg {
            height: 100%;
            width: 100%;
        }

        .document-header .primary-element .logo-wrapper {
            position: absolute;
            z-index: 150;
            top: 50%;
            -webkit-transform: translateY(-60%);
            -moz-transform: translateY(-60%);
            -ms-transform: translateY(-60%);
            transform: translateY(-60%);
            left: 15px;
        }

        .document-header .primary-element .logo-wrapper svg {
            height: 50px;
            line-height: 50px;
        }

        .document-header .secondary-element {
            position: absolute;
            right: 0;
            bottom: 25px;
            background-color: #4E4E4E;
            padding: 20px 35px 10px 160px;
        }

        .document-header .secondary-element .contact-details {
            display: grid;
            grid-template-columns: auto auto;
            position: relative;
            z-index: 200;
        }

        .document-header .secondary-element .contact-details .icon-box {
            margin-right: 30px;
            line-height: 1;
            display: flex;
            align-items: center;
        }

        .document-header .secondary-element .contact-details .icon-box:last-child {
            margin-right: 0;
        }

        .document-header .secondary-element .contact-details .icon-box .text a {
            color: #fff;
        }

        .document-header .secondary-element .contact-details .icon-box .icon svg {
            height: 30px;
            width: 30px;
            display: block;
        }

        .document-header .secondary-element .contact-details .icon-box .icon {
            margin-right: 10px;
        }

        .document-header .mark-groups img {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            height: auto;
            object-fit: contain;
            object-position: center;
        }

        .document-header .mark-groups img.mask-1 {
            z-index: 120;
        }

        .document-header .mark-groups img {
            z-index: -1;
        }


        .document-body {
            padding: 30px;
            padding-bottom: 140px;
            position: relative;
            z-index: 999;
        }


        .theme-heading {
            margin-bottom: 30px;
        }

        .theme-heading.left {
            text-align: left;
        }

        .theme-heading.center {
            text-align: center;
        }

        .theme-heading.right {
            text-align: right;
        }

        .theme-heading h2 {
            margin: 0;
            line-height: 1;
            font-size: 28px;
            font-weight: 500;
            text-transform: uppercase;
        }


        .info-box .title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 15px;
        }

        .info-box .info-table {
            border: 1px solid #4E4E4E;
            border-radius: 8px;
            overflow: hidden;
            margin-bottom: 30px;
        }

        .info-box .info-table .table-header {
            background-color: #4E4E4E;
            color: #fff;
            padding: 15px;
            font-size: 14px;
            font-weight: 400;
        }

        .info-box .info-table .table-body {
            padding: 15px;
        }

        .info-box .info-table .table-body.contains-cols {
            display: flex;
            justify-content: space-between;
            align-items: start;
        }

        .info-box .info-table .table-body .cell {
            flex: 0 0 calc(100% / 3 - 10px);
            padding-right: 10px;
            margin-bottom: 3px;
            display: block;
        }

        .info-box .info-table .table-body .cell label {
            font-weight: 700;
            font-size: 13px;
            display: block;
        }

        .info-box .info-table .table-body .cell label span {
            font-size: 10px;
        }


        .prescription-list {
            margin-bottom: 30px;
        }

        .prescription-list ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .prescription-list ul li {
            display: block;
            width: 100%;
            padding-top: 12px;
            border-bottom: 1px solid #ddd;
        }

        .prescription-list ul li span {
            display: inline-block;
            padding-right: 30px;
            vertical-align: top;
            margin-bottom: 12px;
            font-size: 12px;
            font-weight: 400;
        }


        .signature-panel {
            font-weight: 700;
            font-size: 13px;
            line-height: 1.4;
        }

        .signature-panel .doctor-name-position span {
            font-size: 10px;
            color: #677294;
        }


        .expired-label {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .expired-label img {
            min-width: 300px;
            object-fit: contain;
            object-position: center;
        }


        .document-footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 100;
        }

        .document-footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 1000;
        }

        .document-footer .primary-element {
            z-index: 90;
            position: relative;
            max-width: 60%;
        }

        .document-footer .primary-element .bottom-label {
            background: -webkit-linear-gradient(90.22deg, #0536E3 -19.45%, #00E9ED 142.36%);
            background: -moz-linear-gradient(90.22deg, #0536E3 -19.45%, #00E9ED 142.36%);
            background: linear-gradient(90.22deg, #0536E3 -19.45%, #00E9ED 142.36%);
            padding: 12px 30px;
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            position: relative;
            z-index: 120;
        }

        .document-footer .primary-element .top-label {
            padding: 8px 30px;
            position: relative;
            z-index: 120;
            font-size: 13px;
            font-weight: 400;
        }

        .document-footer .secondary-element {
            position: absolute;
            width: 100%;
            bottom: 0;
            right: 0;
        }

        .document-footer .secondary-element .element-background {
            position: relative;
            right: 0;
            width: 100%;
            z-index: 100;
        }

        .document-footer .secondary-element .element-background svg {
            height: auto;
            width: 100%;
            margin-bottom: -3px;
        }

        .document-footer .secondary-element .social-media-list {
            position: absolute;
            right: 30px;
            top: 50%;
            -webkit-transform: translateY(-5px);
            -moz-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            transform: translateY(-5px);
            z-index: 150;
        }

        .document-footer .secondary-element .social-media-list ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .document-footer .secondary-element .social-media-list ul li {
            display: inline-block;
            margin-right: 3px;
        }

        .document-footer .secondary-element .social-media-list ul li:last-child {
            margin-right: 0;
        }

        .document-footer .footer-mask {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .document-footer .footer-mask img {
            width: 100%;
            height: auto;
            object-fit: contain;
            object-position: center;
        }

    </style>
</head>
<body class="A4-width">

<!-- header -->
<div class="document-header">
    <div class="primary-element">

        <div class="element-background">
            <svg viewBox="0 0 595 91" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 89.8868H207.13C228.85 89.8868 250.18 84.1468 268.97 73.2368L302.35 53.8568C326.65 39.7468 354.25 32.3168 382.35 32.3168H595.28V-25.2532H0V89.8868Z"
                      fill="url(#paint0_linear_61_3)"/>
                <path d="M374.07 23.8569C345.97 23.8569 318.37 31.2869 294.07 45.3969L260.69 64.7769C241.91 75.6769 220.57 81.4269 198.85 81.4269H0V90.7569H207.12C228.84 90.7569 250.17 85.0169 268.96 74.1069L302.34 54.7269C326.64 40.6169 354.24 33.1869 382.34 33.1869H595.27V23.8569H374.07Z"
                      fill="white"/>
                <defs>
                    <linearGradient id="paint0_linear_61_3" x1="713.718" y1="89.8868" x2="-252.736" y2="108.743"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#0536E3"/>
                        <stop offset="1" stop-color="#00E9ED"/>
                    </linearGradient>
                </defs>
            </svg>
        </div>

        <div class="logo-wrapper">
            <svg viewBox="0 0 201 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M6.17388 0.347534C5.31152 0.347534 4.61244 1.04662 4.61244 1.90898C4.61244 1.97505 4.61654 2.04017 4.62451 2.10408H4.61429L4.61429 23.7717C2.05072 24.4653 0.141091 26.7503 0.0108991 29.501C0.00371414 29.5526 0 29.6054 0 29.659C0 29.6912 0.00134396 29.7232 0.00397893 29.7547L0.00380918 29.8013H0.0088269C0.0788262 30.3613 0.556611 30.7946 1.1356 30.7946H3.83467C4.46185 30.7946 4.97027 30.2861 4.97027 29.659C4.97027 29.0318 4.46185 28.5234 3.83467 28.5234H2.78613C3.30599 27.1149 4.66051 26.1106 6.2496 26.1106C7.83869 26.1106 9.19322 27.1149 9.71308 28.5234H8.65773C8.03056 28.5234 7.52213 29.0318 7.52213 29.659C7.52213 30.2861 8.03056 30.7946 8.65773 30.7946L11.3568 30.7946C11.9358 30.7946 12.4136 30.3613 12.4836 29.8013H12.4954C12.4954 26.8644 10.4684 24.401 7.73719 23.7337L7.73719 3.47043H17.6718C27.3538 3.47043 35.2026 11.3192 35.2026 21.0012C35.2026 30.6832 27.3538 38.532 17.6718 38.532H10.2438C9.63622 36.8755 8.04511 35.6935 6.17794 35.6935C3.78683 35.6935 1.84847 37.6319 1.84847 40.023C1.84847 42.4141 3.78683 44.3524 6.17794 44.3524C7.99168 44.3524 9.54494 43.2371 10.1893 41.6549H17.6718C29.0785 41.6549 38.3255 32.408 38.3255 21.0012C38.3255 9.59451 29.0785 0.347534 17.6718 0.347534H6.17388ZM7.66841 40.023C7.66841 40.8461 7.0011 41.5134 6.17794 41.5134C5.35477 41.5134 4.68746 40.8461 4.68746 40.023C4.68746 39.1998 5.35477 38.5325 6.17794 38.5325C7.0011 38.5325 7.66841 39.1998 7.66841 40.023Z"
                      fill="white"/>
                <path d="M9.79395 22.2497C12.9557 23.7535 14.9077 27.1914 14.3676 30.835C14.005 33.2815 12.594 35.3134 10.6579 36.5425H17.4947C25.942 36.5425 32.7898 29.6946 32.7898 21.2474V20.7493C32.7898 12.302 25.942 5.45416 17.4947 5.45416H9.79395V22.2497Z"
                      fill="white"/>
                <path d="M136.07 9.84467C136.43 9.84467 136.74 9.87654 137.002 9.94029C137.263 10.004 137.492 10.1315 137.688 10.3228C137.884 10.4928 138.055 10.7371 138.202 11.0559C138.365 11.3533 138.529 11.7571 138.692 12.2671L143.789 27.5663C143.854 27.7576 143.968 27.8532 144.132 27.8532H144.426C144.589 27.8532 144.703 27.7576 144.769 27.5663L149.865 12.2671C150.029 11.7571 150.184 11.3533 150.331 11.0559C150.494 10.7371 150.674 10.4928 150.87 10.3228C151.066 10.1315 151.286 10.004 151.531 9.94029C151.793 9.87654 152.103 9.84467 152.462 9.84467H155.084C155.934 9.84467 156.505 10.0997 156.799 10.6096C157.093 11.0984 157.24 11.9483 157.24 13.1595V31.4549C157.24 31.9224 157.053 32.1561 156.677 32.1561H154.178C153.818 32.1561 153.639 31.9224 153.639 31.4549V14.8169C153.639 14.6044 153.573 14.4982 153.443 14.4982H153.222C153.059 14.4982 152.952 14.5832 152.903 14.7532L147.954 29.0325C147.758 29.6063 147.554 30.095 147.341 30.4987C147.145 30.8812 146.925 31.1999 146.68 31.4549C146.451 31.7099 146.182 31.8905 145.871 31.9968C145.577 32.103 145.226 32.1561 144.818 32.1561H143.642C143.233 32.1561 142.874 32.103 142.564 31.9968C142.27 31.8905 142 31.7099 141.755 31.4549C141.526 31.1999 141.306 30.8812 141.093 30.4987C140.897 30.095 140.701 29.6063 140.505 29.0325L135.556 14.7532C135.507 14.5832 135.401 14.4982 135.237 14.4982H135.017C134.886 14.4982 134.821 14.6044 134.821 14.8169V31.4549C134.821 31.9224 134.641 32.1561 134.282 32.1561H131.783C131.407 32.1561 131.219 31.9224 131.219 31.4549V13.1595C131.219 11.9483 131.366 11.0984 131.66 10.6096C131.954 10.0997 132.534 9.84467 133.4 9.84467H136.07Z"
                      fill="white"/>
                <path d="M177.928 9.84467C178.304 9.84467 178.492 10.0784 178.492 10.5459V13.5739C178.492 14.0413 178.304 14.2751 177.928 14.2751H167.221C166.584 14.2751 166.053 14.3495 165.628 14.4982C165.22 14.6257 164.885 14.8594 164.624 15.1994C164.379 15.5182 164.207 15.9644 164.109 16.5381C164.011 17.0906 163.962 17.7812 163.962 18.6099V18.9286H177.806C178.165 18.9286 178.345 19.1624 178.345 19.6298V22.1478C178.345 22.6153 178.165 22.8491 177.806 22.8491H163.962V23.3909C163.962 24.2196 164.011 24.9208 164.109 25.4946C164.207 26.047 164.379 26.4933 164.624 26.8333C164.885 27.152 165.22 27.3857 165.628 27.5345C166.053 27.662 166.584 27.7257 167.221 27.7257H177.928C178.304 27.7257 178.492 27.9595 178.492 28.4269V31.4549C178.492 31.9224 178.304 32.1561 177.928 32.1561H167.148C165.906 32.1561 164.852 32.0074 163.987 31.7099C163.121 31.4124 162.41 30.9343 161.855 30.2756C161.316 29.5956 160.916 28.7244 160.654 27.662C160.409 26.5783 160.287 25.2715 160.287 23.7415V18.2593C160.287 16.7293 160.409 15.4332 160.654 14.3707C160.916 13.3083 161.316 12.4477 161.855 11.789C162.41 11.109 163.121 10.6203 163.987 10.3228C164.852 10.004 165.906 9.84467 167.148 9.84467H177.928Z"
                      fill="white"/>
                <path d="M193.502 9.84467C194.825 9.84467 195.961 10.0253 196.908 10.3865C197.856 10.7265 198.631 11.2683 199.236 12.0121C199.84 12.7345 200.281 13.6695 200.559 14.8169C200.853 15.9431 201 17.2818 201 18.833V23.1678C201 24.719 200.853 26.0683 200.559 27.2157C200.281 28.3419 199.84 29.2769 199.236 30.0206C198.631 30.7431 197.856 31.2849 196.908 31.6462C195.961 31.9861 194.825 32.1561 193.502 32.1561H182.035C181.545 32.1561 181.3 31.8374 181.3 31.1999V10.8009C181.3 10.1634 181.545 9.84467 182.035 9.84467H193.502ZM185.049 27.3114C185.049 27.5876 185.155 27.7257 185.368 27.7257H193.404C194.123 27.7257 194.727 27.6407 195.218 27.4707C195.708 27.3007 196.1 27.0245 196.394 26.642C196.704 26.2595 196.924 25.7496 197.055 25.1121C197.186 24.4746 197.251 23.6884 197.251 22.7534V19.2474C197.251 18.3124 197.186 17.5262 197.055 16.8887C196.924 16.2512 196.704 15.7413 196.394 15.3588C196.1 14.9763 195.708 14.7001 195.218 14.5301C194.727 14.3601 194.123 14.2751 193.404 14.2751H185.368C185.155 14.2751 185.049 14.4238 185.049 14.7213V27.3114Z"
                      fill="white"/>
                <path d="M84.8793 9.84467C85.255 9.84467 85.4428 10.0784 85.4428 10.5459V13.5739C85.4428 14.0413 85.255 14.2751 84.8793 14.2751H74.1718C73.5347 14.2751 73.0039 14.3495 72.5792 14.4982C72.1708 14.6257 71.8359 14.8594 71.5746 15.1994C71.3295 15.5182 71.158 15.9644 71.06 16.5381C70.962 17.0906 70.913 17.7812 70.913 18.6099V18.9286H84.7568C85.1161 18.9286 85.2958 19.1624 85.2958 19.6298V22.1478C85.2958 22.6153 85.1161 22.8491 84.7568 22.8491H70.913V23.3909C70.913 24.2196 70.962 24.9208 71.06 25.4946C71.158 26.047 71.3295 26.4933 71.5746 26.8333C71.8359 27.152 72.1708 27.3857 72.5792 27.5345C73.0039 27.662 73.5347 27.7257 74.1718 27.7257H84.8793C85.255 27.7257 85.4428 27.9595 85.4428 28.4269V31.4549C85.4428 31.9224 85.255 32.1561 84.8793 32.1561H74.0983C72.8569 32.1561 71.8033 32.0074 70.9375 31.7099C70.0718 31.4124 69.3612 30.9343 68.8058 30.2756C68.2668 29.5956 67.8666 28.7244 67.6052 27.662C67.3602 26.5783 67.2377 25.2715 67.2377 23.7415V18.2593C67.2377 16.7293 67.3602 15.4332 67.6052 14.3707C67.8666 13.3083 68.2668 12.4477 68.8058 11.789C69.3612 11.109 70.0718 10.6203 70.9375 10.3228C71.8033 10.004 72.8569 9.84467 74.0983 9.84467H84.8793Z"
                      fill="white"/>
                <path d="M105.697 9.84467C106.072 9.84467 106.26 10.0784 106.26 10.5459V13.5739C106.26 14.0413 106.072 14.2751 105.697 14.2751H94.9891C94.3521 14.2751 93.8212 14.3495 93.3965 14.4982C92.9881 14.6257 92.6533 14.8594 92.3919 15.1994C92.1469 15.5182 91.9754 15.9644 91.8773 16.5381C91.7793 17.0906 91.7303 17.7812 91.7303 18.6099V18.9286H105.574C105.933 18.9286 106.113 19.1624 106.113 19.6298V22.1478C106.113 22.6153 105.933 22.8491 105.574 22.8491H91.7303V23.3909C91.7303 24.2196 91.7793 24.9208 91.8773 25.4946C91.9754 26.047 92.1469 26.4933 92.3919 26.8333C92.6533 27.152 92.9881 27.3857 93.3965 27.5345C93.8212 27.662 94.3521 27.7257 94.9891 27.7257H105.697C106.072 27.7257 106.26 27.9595 106.26 28.4269V31.4549C106.26 31.9224 106.072 32.1561 105.697 32.1561H94.9156C93.6742 32.1561 92.6206 32.0074 91.7548 31.7099C90.8891 31.4124 90.1785 30.9343 89.6231 30.2756C89.0841 29.5956 88.6839 28.7244 88.4225 27.662C88.1775 26.5783 88.055 25.2715 88.055 23.7415V18.2593C88.055 16.7293 88.1775 15.4332 88.4225 14.3707C88.6839 13.3083 89.0841 12.4477 89.6231 11.789C90.1785 11.109 90.8891 10.6203 91.7548 10.3228C92.6206 10.004 93.6742 9.84467 94.9156 9.84467H105.697Z"
                      fill="white"/>
                <path d="M121.27 9.84467C122.594 9.84467 123.729 10.0253 124.676 10.3865C125.624 10.7265 126.4 11.2684 127.004 12.0121C127.608 12.7345 128.049 13.6695 128.327 14.8169C128.621 15.9431 128.768 17.2818 128.768 18.833V23.1678C128.768 24.719 128.621 26.0683 128.327 27.2157C128.049 28.3419 127.608 29.2769 127.004 30.0206C126.4 30.7431 125.624 31.2849 124.676 31.6462C123.729 31.9861 122.594 32.1561 121.27 32.1561H109.803C109.313 32.1561 109.068 31.8374 109.068 31.1999V10.8009C109.068 10.1634 109.313 9.84467 109.803 9.84467H121.27ZM112.817 27.3114C112.817 27.5876 112.923 27.7257 113.136 27.7257H121.172C121.891 27.7257 122.496 27.6407 122.986 27.4707C123.476 27.3007 123.868 27.0245 124.162 26.642C124.472 26.2595 124.693 25.7496 124.823 25.1121C124.954 24.4746 125.019 23.6884 125.019 22.7534V19.2474C125.019 18.3124 124.954 17.5262 124.823 16.8887C124.693 16.2512 124.472 15.7413 124.162 15.3588C123.868 14.9763 123.476 14.7001 122.986 14.5301C122.496 14.3601 121.891 14.2751 121.172 14.2751H113.136C112.923 14.2751 112.817 14.4238 112.817 14.7213V27.3114Z"
                      fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M54.0091 32.1233L54.0379 32.1518H45.5131C45.0231 32.1518 44.7781 31.8331 44.7781 31.1956V22.7723C45.6829 22.5497 46.3586 21.7322 46.3614 20.7601C46.3669 19.7849 45.6851 18.9552 44.7781 18.7292V10.7966C44.7781 10.1591 45.0231 9.84036 45.5131 9.84036H54.1165C57.0752 12.9241 58.6575 16.6153 58.6575 20.9267C58.6575 25.2791 57.0441 28.994 54.0091 32.1233ZM60.386 31.6419C59.5436 31.9442 58.5527 32.1121 57.4133 32.1456C57.7673 31.6878 58.0996 31.2129 58.4103 30.7213C59.2366 29.4169 59.8904 28.0279 60.3653 26.5543C60.7166 25.4743 60.9704 24.3748 61.0972 23.246C61.1399 22.8621 61.1686 22.4767 61.1973 22.0918L61.1973 22.0915L61.1973 22.0912L61.1974 22.0908C61.2102 21.9184 61.223 21.746 61.2371 21.574C61.2371 21.5456 61.2423 21.5189 61.2476 21.4915C61.2496 21.4812 61.2516 21.4708 61.2534 21.4602V20.3932C61.252 20.3764 61.2487 20.3601 61.2455 20.3439L61.2455 20.3439C61.2413 20.3226 61.2371 20.3015 61.2371 20.2794C61.2143 19.4661 61.1265 18.6594 60.9931 17.8592C60.8012 16.7011 60.4955 15.5756 60.0823 14.4761C59.4505 12.8062 58.5996 11.2624 57.5256 9.85101C58.6179 9.89455 59.5714 10.0716 60.386 10.3822C61.3334 10.7222 62.1093 11.264 62.7137 12.0078C63.3181 12.7302 63.7591 13.6652 64.0368 14.8126C64.3309 15.9388 64.4779 17.2775 64.4779 18.8287V23.1635C64.4779 24.7147 64.3309 26.064 64.0368 27.2114C63.7591 28.3376 63.3181 29.2726 62.7137 30.0163C62.1093 30.7388 61.3334 31.2806 60.386 31.6419ZM50.3923 28.4713C50.9914 29.0736 51.5814 29.6667 52.1808 30.2662C57.444 25.094 57.2976 16.5681 52.1938 11.6041C51.8913 11.9082 51.5889 12.2114 51.2864 12.5147L51.2862 12.515C50.9837 12.8183 50.6812 13.1216 50.3787 13.4257C52.3987 15.5076 53.482 18.0059 53.482 20.9302C53.482 23.8546 52.3955 26.3594 50.3656 28.4445L50.3923 28.4713ZM46.7066 17.0777C47.3149 16.4694 47.9199 15.8644 48.5217 15.2594C51.4819 18.0211 51.8852 23.3006 48.5347 26.5958C48.2313 26.2908 47.928 25.9866 47.6238 25.6816C47.3213 25.3783 47.018 25.0742 46.7131 24.7677C47.741 23.7072 48.307 22.4288 48.307 20.926C48.3038 19.4231 47.7377 18.1447 46.7066 17.0777Z"
                      fill="white"/>
            </svg>
        </div>
    </div>

    <div class="secondary-element">
        <div class="contact-details font-livvic">
            <div class="icon-box website">
                <div class="icon">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="8.72558" cy="8.91394" r="8.72558" fill="#086DE6"/>
                        <path d="M7.46862 10.0669C7.36772 9.37603 7.36772 8.69522 7.46862 8.00366C8.50138 8.00366 9.53381 8.00366 10.5788 8.00366C10.6831 8.68773 10.6811 9.37147 10.5805 10.0669C9.54774 10.0669 8.51531 10.0669 7.46862 10.0669Z"
                              fill="white"/>
                        <path d="M10.5122 7.46527C9.50933 7.46527 8.54757 7.46527 7.56067 7.46527C7.7448 6.76035 7.94965 6.07726 8.53806 5.57863C8.85672 5.30879 9.20834 5.32313 9.53243 5.59265C9.83071 5.84066 10.0271 6.15809 10.1698 6.50289C10.2965 6.80826 10.3926 7.12536 10.5122 7.46527Z"
                              fill="white"/>
                        <path d="M10.4854 10.6105C10.3475 11.1857 10.1637 11.7293 9.8005 12.2006C9.30722 12.8413 8.74124 12.841 8.24897 12.2006C7.88615 11.7287 7.70202 11.1854 7.56409 10.6102C8.53808 10.6105 9.50222 10.6105 10.4854 10.6105Z"
                              fill="white"/>
                        <path d="M11.1672 10.0712C11.1672 9.37536 11.1672 8.69423 11.1672 8.00299C11.7414 8.00299 12.3434 8.00299 12.9528 8.00299C13.1512 8.69194 13.1512 9.37829 12.9518 10.0712C12.3474 10.0712 11.7499 10.0712 11.1672 10.0712Z"
                              fill="white"/>
                        <path d="M6.882 7.99939C6.882 8.69551 6.882 9.37664 6.882 10.0676C6.30787 10.0676 5.70587 10.0676 5.09607 10.0676C4.89767 9.37795 4.89733 8.69193 5.09708 7.99939C5.70248 7.99939 6.30005 7.99939 6.882 7.99939Z"
                              fill="white"/>
                        <path d="M9.953 5.2478C11.1352 5.46094 12.3365 6.42463 12.732 7.46327C12.1717 7.46327 11.6143 7.46327 11.0785 7.46327C10.9396 7.06307 10.8186 6.66971 10.6661 6.28775C10.5139 5.90645 10.2839 5.5649 9.953 5.2478Z"
                              fill="white"/>
                        <path d="M8.08154 5.25662C7.45474 5.88659 7.18942 6.6518 7.00257 7.46101C6.44236 7.46101 5.88385 7.46101 5.32568 7.46101C5.45342 6.65148 7.09056 5.32897 8.08154 5.25662Z"
                              fill="white"/>
                        <path d="M8.08834 12.8198C6.92411 12.6125 5.7225 11.6573 5.31653 10.6085C5.87673 10.6085 6.43388 10.6085 7.0019 10.6085C7.18909 11.4125 7.45204 12.1842 8.08834 12.8198Z"
                              fill="white"/>
                        <path d="M11.0467 10.6085C11.6097 10.6085 12.1685 10.6085 12.727 10.6085C12.5527 11.4559 10.9238 12.7673 9.97083 12.8119C10.5915 12.1898 10.8602 11.4207 11.0467 10.6085Z"
                              fill="white"/>
                    </svg>
                </div>
                <div class="text">
                    <a href="https://www.deedmed.lk" target="_blank">www.deedmed.lk</a>
                </div>
            </div>

            <div class="icon-box email">
                <div class="icon">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="8.78259" cy="8.72558" r="8.72558" fill="#086DE6"/>
                        <path d="M5.18917 7.77609C5.15995 7.74687 5.13074 7.742 5.10152 7.76148C5.06257 7.78096 5.04309 7.81017 5.04309 7.84913V10.8291C5.04309 11.0238 5.11126 11.1894 5.2476 11.3257C5.38393 11.4621 5.54949 11.5302 5.74425 11.5302H11.821C12.0158 11.5302 12.1813 11.4621 12.3177 11.3257C12.454 11.1894 12.5222 11.0238 12.5222 10.8291V7.84913C12.5222 7.81017 12.5076 7.78583 12.4783 7.77609C12.4394 7.75661 12.4053 7.75661 12.3761 7.77609C12.0547 8.01955 11.3049 8.56977 10.1265 9.42674C10.107 9.44622 10.0437 9.49978 9.93662 9.58743C9.81976 9.67507 9.72725 9.74324 9.65908 9.79193C9.59091 9.83089 9.50326 9.88445 9.39614 9.95262C9.28902 10.011 9.18677 10.0549 9.08938 10.0841C8.98226 10.1133 8.88001 10.1279 8.78263 10.1279C8.69498 10.1279 8.60733 10.1182 8.51969 10.0987C8.43204 10.0695 8.34927 10.0403 8.27136 10.011C8.19345 9.97209 8.11068 9.9234 8.02303 9.86497C7.93539 9.80654 7.86235 9.75785 7.80392 9.71889C7.74549 9.6702 7.67732 9.61664 7.59941 9.55821C7.52151 9.49978 7.46795 9.45596 7.43873 9.42674C6.2896 8.59898 5.53975 8.04876 5.18917 7.77609ZM8.78263 9.66046C8.86053 9.66046 8.95792 9.63612 9.07478 9.58743C9.1819 9.529 9.26954 9.4803 9.33771 9.44135C9.40588 9.39266 9.50813 9.31962 9.64447 9.22224C9.77107 9.11512 9.83924 9.06155 9.84898 9.06155C11.0371 8.19484 11.8843 7.56671 12.3907 7.17718C12.4783 7.10901 12.5222 7.0165 12.5222 6.89964V6.62209C12.5222 6.42732 12.454 6.26177 12.3177 6.12543C12.1813 5.9891 12.0158 5.92093 11.821 5.92093H5.74425C5.54949 5.92093 5.38393 5.9891 5.2476 6.12543C5.11126 6.26177 5.04309 6.42732 5.04309 6.62209V6.89964C5.04309 7.0165 5.08691 7.10901 5.17456 7.17718C5.65174 7.54724 6.49898 8.17536 7.71627 9.06155C7.72601 9.06155 7.79905 9.11512 7.93539 9.22224C8.06199 9.31962 8.15937 9.39266 8.22754 9.44135C8.29571 9.4803 8.38822 9.529 8.50508 9.58743C8.6122 9.63612 8.70472 9.66046 8.78263 9.66046Z"
                              fill="white"/>
                    </svg>
                </div>
                <div class="text">
                    <a href="mailto:info@deedmed.lk">info@deedmed.lk</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mark-groups">
        <img src="media/header-mask-1.png" alt="" class="mask-1">
        <img src="media/header-mask-2.png" alt="" class="mask-2">
    </div>
</div>
<!-- ./ end of header -->


<!-- document body -->
<div class="document-body">

    <div class="theme-heading center font-rubik">
        <h2>Test Order</h2>
    </div>

    <div class="date-box text-left dynamic-value">
        <p>Date: <span><%= data.date %></span></p>
    </div>

    <div class="info-box">
        <div class="info-table">
            <div class="table-header font-rubik">
                <span>Patient details</span>
            </div>
            <div class="table-body contains-cols">
                <div class="cell">
                    <label>Patient name</label>
                    <div class="value dynamic-value"><%= data.patientName %></div>
                </div>
                <div class="cell">
                    <label>Address</label>
                    <div class="value dynamic-value"><%= data.patientAddress %></div>
                </div>
                <div class="cell">
                    <label>Date of Birth</label>
                    <div class="value dynamic-value"><%= data.Patient.dob %></div>
                </div>
            </div>
        </div>
    </div>

    <div class="document-values">
        <div class="value-wrapper">
            <div class="meta-line prime">
                <span class="value dynamic-value">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat</span>
            </div>
        </div>
    </div>


    <div class="document-signature">
        <div class="signature-panel">
            <div class="doctor-name-position">
                <label><%= data.referringProfessionalName %></label>
                <span>(MBBS/ BMBS)</span>
            </div>
            <div class="address"><%= data.doctorAddress %></div>
            <div class="slmc">
                <label>SLMC - </label>
                <span><%= data.slmcNo %></span>
            </div>
        </div>
    </div>

</div>
<!-- ./ end of document body -->

<!-- document footer -->
<div class="document-footer">
    <div class="primary-element">
        <div class="top-label font-rubik">No signature is required</div>
        <div class="bottom-label font-rubik">This is a computer generated document</div>
    </div>

    <div class="secondary-element">
        <div class="element-background">
            <svg width="510" height="52" viewBox="0 0 510 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M510.14 1.09003L337.098 5.48999L258 52.45H510.14V1.09003Z" fill="#4E4E4E"/>
                <path d="M374.08 0.23999C345.98 0.23999 318.38 7.66999 294.08 21.78L260.7 41.16C241.92 52.06 220.58 57.81 198.86 57.81H0V67.14H207.12C228.84 67.14 250.17 61.4 268.96 50.49L302.34 31.11C326.64 17 354.24 9.56999 382.34 9.56999H595.27V0.23999H374.08Z"
                      fill="white"/>
            </svg>
        </div>

        <div class="social-media-list">
            <ul>
                <li>
                    <a href="https://www.facebook.com/deedmedlives/">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="12" fill="#086DE6"/>
                            <path d="M13.7489 8.37352C13.4718 8.37352 13.2486 8.41816 13.0793 8.50745C12.9254 8.59673 12.8253 8.70834 12.7792 8.84227C12.733 8.9762 12.7099 9.14733 12.7099 9.35566V10.7619H14.6724L14.3953 12.7932H12.7099V17.9048H10.5396V12.7932H8.76184V10.7619H10.5396V9.15477C10.5396 8.30655 10.7859 7.65179 11.2784 7.19048C11.771 6.71429 12.4251 6.4762 13.2409 6.4762C13.9028 6.4762 14.4415 6.50596 14.8571 6.56548V8.37352H13.7489Z"
                                  fill="white"/>
                        </svg>

                    </a>
                </li>

                <li>
                    <a href="https://www.instagram.com/deedmed/">
                        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12.238" cy="12" r="12" fill="#086DE6"/>
                            <path d="M10.4762 10.7806C11.0159 10.2795 11.6666 10.0289 12.4285 10.0289C13.1905 10.0289 13.8333 10.2795 14.3571 10.7806C14.8968 11.267 15.1666 11.8639 15.1666 12.5714C15.1666 13.2789 14.8968 13.8832 14.3571 14.3844C13.8333 14.8707 13.1905 15.1139 12.4285 15.1139C11.6666 15.1139 11.0159 14.8707 10.4762 14.3844C9.95236 13.8832 9.69045 13.2789 9.69045 12.5714C9.69045 11.8639 9.95236 11.267 10.4762 10.7806ZM11.1666 13.7432C11.5159 14.0675 11.9365 14.2296 12.4285 14.2296C12.9206 14.2296 13.3412 14.0675 13.6905 13.7432C14.0397 13.4189 14.2143 13.0283 14.2143 12.5714C14.2143 12.1145 14.0397 11.7239 13.6905 11.3997C13.3412 11.0754 12.9206 10.9133 12.4285 10.9133C11.9365 10.9133 11.5159 11.0754 11.1666 11.3997C10.8174 11.7239 10.6428 12.1145 10.6428 12.5714C10.6428 13.0283 10.8174 13.4189 11.1666 13.7432ZM15.7143 9.52041C15.8412 9.62358 15.9047 9.75624 15.9047 9.91837C15.9047 10.0805 15.8412 10.2205 15.7143 10.3384C15.6032 10.4564 15.4603 10.5153 15.2857 10.5153C15.1111 10.5153 14.9603 10.4564 14.8333 10.3384C14.7063 10.2205 14.6428 10.0805 14.6428 9.91837C14.6428 9.75624 14.7063 9.62358 14.8333 9.52041C14.9603 9.4025 15.1111 9.34354 15.2857 9.34354C15.4603 9.34354 15.6032 9.4025 15.7143 9.52041ZM17.7381 10.5374C17.7539 10.9354 17.7619 11.6134 17.7619 12.5714C17.7619 13.5295 17.7539 14.2075 17.7381 14.6054C17.6905 15.5045 17.3968 16.2046 16.8571 16.7058C16.3333 17.1922 15.5873 17.4501 14.619 17.4796C14.1905 17.5091 13.4603 17.5238 12.4285 17.5238C11.3968 17.5238 10.6666 17.5091 10.2381 17.4796C9.26982 17.4354 8.52379 17.1701 7.99998 16.6837C7.79363 16.5068 7.62696 16.3005 7.49998 16.0646C7.37299 15.8288 7.27775 15.6003 7.21426 15.3793C7.16664 15.1582 7.14283 14.9002 7.14283 14.6054C7.11109 14.2075 7.09521 13.5295 7.09521 12.5714C7.09521 11.6134 7.11109 10.928 7.14283 10.5153C7.19045 9.63095 7.47617 8.94558 7.99998 8.45919C8.52379 7.95805 9.26982 7.68538 10.2381 7.64116C10.6666 7.62642 11.3968 7.61905 12.4285 7.61905C13.4603 7.61905 14.1905 7.62642 14.619 7.64116C15.5873 7.68538 16.3333 7.95805 16.8571 8.45919C17.3968 8.94558 17.6905 9.63832 17.7381 10.5374ZM16.5952 15.4898C16.6428 15.3719 16.6825 15.2245 16.7143 15.0476C16.746 14.856 16.7698 14.6349 16.7857 14.3844C16.8016 14.119 16.8095 13.9053 16.8095 13.7432C16.8095 13.5811 16.8095 13.3526 16.8095 13.0578C16.8095 12.763 16.8095 12.6009 16.8095 12.5714C16.8095 12.5272 16.8095 12.3651 16.8095 12.085C16.8095 11.7903 16.8095 11.5618 16.8095 11.3997C16.8095 11.2375 16.8016 11.0312 16.7857 10.7806C16.7698 10.5153 16.746 10.2942 16.7143 10.1173C16.6825 9.92574 16.6428 9.77098 16.5952 9.65306C16.4047 9.19615 16.0635 8.87925 15.5714 8.70238C15.4444 8.65816 15.2778 8.62132 15.0714 8.59184C14.8809 8.56236 14.6428 8.54025 14.3571 8.52551C14.0873 8.51077 13.8651 8.5034 13.6905 8.5034C13.5317 8.5034 13.2857 8.5034 12.9524 8.5034C12.6349 8.5034 12.4603 8.5034 12.4285 8.5034C12.3968 8.5034 12.2222 8.5034 11.9047 8.5034C11.5873 8.5034 11.3412 8.5034 11.1666 8.5034C10.992 8.5034 10.7619 8.51077 10.4762 8.52551C10.2063 8.54025 9.96823 8.56236 9.76188 8.59184C9.57141 8.62132 9.41268 8.65816 9.28569 8.70238C8.79363 8.87925 8.45236 9.19615 8.26188 9.65306C8.21426 9.77098 8.17458 9.92574 8.14283 10.1173C8.11109 10.2942 8.08728 10.5153 8.07141 10.7806C8.05553 11.0312 8.0476 11.2375 8.0476 11.3997C8.0476 11.5471 8.0476 11.7755 8.0476 12.085C8.0476 12.3798 8.0476 12.542 8.0476 12.5714C8.0476 12.6304 8.0476 12.7704 8.0476 12.9915C8.0476 13.1978 8.0476 13.3747 8.0476 13.5221C8.0476 13.6548 8.0476 13.8316 8.0476 14.0527C8.06347 14.2738 8.07934 14.4654 8.09521 14.6276C8.11109 14.7749 8.1349 14.9297 8.16664 15.0918C8.19839 15.254 8.23014 15.3866 8.26188 15.4898C8.46823 15.9467 8.8095 16.2636 9.28569 16.4405C9.41268 16.4847 9.57141 16.5215 9.76188 16.551C9.96823 16.5805 10.2063 16.6026 10.4762 16.6173C10.7619 16.6321 10.9841 16.6395 11.1428 16.6395C11.3174 16.6395 11.5635 16.6395 11.8809 16.6395C12.2143 16.6395 12.3968 16.6395 12.4285 16.6395C12.4762 16.6395 12.6508 16.6395 12.9524 16.6395C13.2698 16.6395 13.5159 16.6395 13.6905 16.6395C13.8651 16.6395 14.0873 16.6321 14.3571 16.6173C14.6428 16.6026 14.8809 16.5805 15.0714 16.551C15.2778 16.5215 15.4444 16.4847 15.5714 16.4405C16.0635 16.2489 16.4047 15.932 16.5952 15.4898Z"
                                  fill="white"/>
                        </svg>
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/company/deedmed-lives-pvt-ltd">
                        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <ellipse cx="12.8095" cy="12" rx="12.1905" ry="12" fill="#086DE6"/>
                            <path d="M13.5131 10.1059C13.5131 10.4342 13.5131 10.7565 13.5131 11.0977C13.5397 11.0755 13.5552 11.068 13.5627 11.0554C13.9639 10.3874 14.5705 10.0384 15.3281 9.945C15.891 9.87554 16.4471 9.92623 16.9782 10.1422C17.4819 10.3471 17.8311 10.7103 18.0537 11.2045C18.2942 11.7388 18.3809 12.3069 18.3876 12.882C18.4044 14.3555 18.3979 15.8292 18.4003 17.3029C18.4003 17.327 18.396 17.3512 18.3934 17.3805C17.6417 17.3805 16.8954 17.3805 16.1322 17.3805C16.1322 17.3402 16.1322 17.2988 16.1322 17.2576C16.1322 16.0356 16.1374 14.8134 16.1281 13.5915C16.1259 13.3134 16.0955 13.0311 16.0397 12.7588C15.9316 12.2334 15.6018 11.9545 15.0643 11.9178C14.6932 11.8926 14.3404 11.9569 14.0504 12.2185C13.8736 12.3781 13.7629 12.5828 13.7172 12.8093C13.662 13.0822 13.6132 13.3617 13.6104 13.6389C13.5985 14.8393 13.6046 16.0397 13.6039 17.2403C13.6039 17.2832 13.6039 17.3261 13.6039 17.3777C12.8511 17.3777 12.1026 17.3777 11.3479 17.3777C11.3479 14.9556 11.3479 12.5347 11.3479 10.1059C12.0638 10.1059 12.7806 10.1059 13.5131 10.1059Z"
                                  fill="white"/>
                            <path d="M9.90998 17.3829C9.1561 17.3829 8.41278 17.3829 7.66235 17.3829C7.66235 14.9562 7.66235 12.533 7.66235 10.104C8.41128 10.104 9.15696 10.104 9.90998 10.104C9.90998 12.5278 9.90998 14.951 9.90998 17.3829Z"
                                  fill="white"/>
                            <path d="M7.47624 7.79939C7.47063 7.0798 8.05454 6.4836 8.77197 6.47626C9.49608 6.46893 10.0998 7.06384 10.1048 7.78968C10.1098 8.4905 9.51442 9.09965 8.81942 9.10482C8.07071 9.11022 7.48206 8.53817 7.47624 7.79939Z"
                                  fill="white"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-mask">
        <img src="media/footer-mask.png" alt="Footer Mask">
    </div>
</div>
<!-- ./ end of document footer -->

</body>
</html>
